RefLink:https://www.kaggle.com/mrisdal/titanic/exploring-survival-on-the-titanic

In [6]:
# Load packages
library('ggplot2') # visualization
library('ggthemes') # visualization
library('scales') # visualization
library('dplyr') # data manipulation
library('mice') # imputation
library('randomForest') # classification algorithm

In [8]:
train <- read.csv("/media/reallocing/本地磁盘1/KDD2015/Dataset/titanic/train.csv",stringsAsFactors= F)
test <- read.csv("/media/reallocing/本地磁盘1/KDD2015/Dataset/titanic/test.csv",stringsAsFactors= F)
full <- bind_rows(train,test) #bind train and test data.

In [15]:
head(train)
head(test)
head(full)
paste('tail(test)')
tail(test)
paste('tail(full)')
tail(full)

  PassengerId Survived Pclass
1           1        0      3
2           2        1      1
3           3        1      3
4           4        1      1
5           5        0      3
6           6        0      3
                                                 Name    Sex Age SibSp Parch
1                             Braund, Mr. Owen Harris   male  22     1     0
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female  38     1     0
3                              Heikkinen, Miss. Laina female  26     0     0
4        Futrelle, Mrs. Jacques Heath (Lily May Peel) female  35     1     0
5                            Allen, Mr. William Henry   male  35     0     0
6                                    Moran, Mr. James   male  NA     0     0
            Ticket    Fare Cabin Embarked
1        A/5 21171  7.2500              S
2         PC 17599 71.2833   C85        C
3 STON/O2. 3101282  7.9250              S
4           113803 53.1000  C123        S
5           373450  8.0500              S
6           330877  8.4583              Q

  PassengerId Pclass                                         Name    Sex  Age
1         892      3                             Kelly, Mr. James   male 34.5
2         893      3             Wilkes, Mrs. James (Ellen Needs) female 47.0
3         894      2                    Myles, Mr. Thomas Francis   male 62.0
4         895      3                             Wirz, Mr. Albert   male 27.0
5         896      3 Hirvonen, Mrs. Alexander (Helga E Lindqvist) female 22.0
6         897      3                   Svensson, Mr. Johan Cervin   male 14.0
  SibSp Parch  Ticket    Fare Cabin Embarked
1     0     0  330911  7.8292              Q
2     1     0  363272  7.0000              S
3     0     0  240276  9.6875              Q
4     0     0  315154  8.6625              S
5     1     1 3101298 12.2875              S
6     0     0    7538  9.2250              S

Source: local data frame [6 x 12]

  PassengerId Survived Pclass
        (int)    (int)  (int)
1           1        0      3
2           2        1      1
3           3        1      3
4           4        1      1
5           5        0      3
6           6        0      3
Variables not shown: Name (chr), Sex (chr), Age (dbl), SibSp (int), Parch
  (int), Ticket (chr), Fare (dbl), Cabin (chr), Embarked (chr)

[1] "tail(test)"

    PassengerId Pclass                           Name    Sex  Age SibSp Parch
413        1304      3 Henriksson, Miss. Jenny Lovisa female 28.0     0     0
414        1305      3             Spector, Mr. Woolf   male   NA     0     0
415        1306      1   Oliva y Ocana, Dona. Fermina female 39.0     0     0
416        1307      3   Saether, Mr. Simon Sivertsen   male 38.5     0     0
417        1308      3            Ware, Mr. Frederick   male   NA     0     0
418        1309      3       Peter, Master. Michael J   male   NA     1     1
                Ticket     Fare Cabin Embarked
413             347086   7.7750              S
414          A.5. 3236   8.0500              S
415           PC 17758 108.9000  C105        C
416 SOTON/O.Q. 3101262   7.2500              S
417             359309   8.0500              S
418               2668  22.3583              C

[1] "tail(full)"

Source: local data frame [6 x 12]

  PassengerId Survived Pclass                           Name    Sex   Age SibSp
        (int)    (int)  (int)                          (chr)  (chr) (dbl) (int)
1        1304       NA      3 Henriksson, Miss. Jenny Lovisa female  28.0     0
2        1305       NA      3             Spector, Mr. Woolf   male    NA     0
3        1306       NA      1   Oliva y Ocana, Dona. Fermina female  39.0     0
4        1307       NA      3   Saether, Mr. Simon Sivertsen   male  38.5     0
5        1308       NA      3            Ware, Mr. Frederick   male    NA     0
6        1309       NA      3       Peter, Master. Michael J   male    NA     1
Variables not shown: Parch (int), Ticket (chr), Fare (dbl), Cabin (chr),
  Embarked (chr)

In [16]:
str(full)  #check data

Classes ‘tbl_df’, ‘tbl’ and 'data.frame':	1309 obs. of  12 variables:
 $ PassengerId: int  1 2 3 4 5 6 7 8 9 10 ...
 $ Survived   : int  0 1 1 1 0 0 0 0 1 1 ...
 $ Pclass     : int  3 1 3 1 3 3 1 3 3 2 ...
 $ Name       : chr  "Braund, Mr. Owen Harris" "Cumings, Mrs. John Bradley (Florence Briggs Thayer)" "Heikkinen, Miss. Laina" "Futrelle, Mrs. Jacques Heath (Lily May Peel)" ...
 $ Sex        : chr  "male" "female" "female" "female" ...
 $ Age        : num  22 38 26 35 35 NA 54 2 27 14 ...
 $ SibSp      : int  1 1 0 1 0 0 0 3 0 1 ...
 $ Parch      : int  0 0 0 0 0 0 0 1 2 0 ...
 $ Ticket     : chr  "A/5 21171" "PC 17599" "STON/O2. 3101282" "113803" ...
 $ Fare       : num  7.25 71.28 7.92 53.1 8.05 ...
 $ Cabin      : chr  "" "C85" "" "C123" ...
 $ Embarked   : chr  "S" "C" "S" "S" ...

[1] 80